.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0.8em;
    background-color:#d8d8d8;
    border-bottom-width: 2px;


    // notação sass
    &__title{
        color: #810505;
        margin: 0;
        font-size: 2rem;
    }
}